// Chapter 09
section#transitions
  h2 Transition Styles
  p.
    You can select from different transitions, like: <br>
    <a href="?transition=cube#/transitions">Cube</a> -
    <a href="?transition=page#/transitions">Page</a> -
    <a href="?transition=concave#/transitions">Concave</a> -
    <a href="?transition=zoom#/transitions">Zoom</a> -
    <a href="?transition=linear#/transitions">Linear</a> -
    <a href="?transition=fade#/transitions">Fade</a> -
    <a href="?transition=none#/transitions">None</a> -
    <a href="?#/transitions">Default</a>

// Chapter 10
section#themes
  h2 Themes
  p.
    Reveal.js comes with a few themes built in: <br>
    <a href="?#/themes">Default</a> -
    <a href="?theme=sky#/themes">Sky</a> -
    <a href="?theme=beige#/themes">Beige</a> -
    <a href="?theme=simple#/themes">Simple</a> -
    <a href="?theme=serif#/themes">Serif</a> -
    <a href="?theme=night#/themes">Night</a> <br>
    <a href="?theme=moon#/themes">Moon</a> -
    <a href="?theme=solarized#/themes">Solarized</a>
  p
    small.
      * Theme demos are loaded after the presentation which leads to flicker.
      In production you should load your theme in the <code>&lt;head&gt;</code>
      using a <code>&lt;link&gt;</code>.



