// Chapter 08 – Markdown Filter
section
  :markdown
    ## Markdown support

    For those of you who like that sort of thing. You doesn't need the
    markdown support by reveal.js, because you can use the power of Jade.

    ```
    section
      :markdown
        ## Markdown support

        For those of you who like that sort of thing. You doesn't need the
        markdown support by reveal.js, because you can use the power of Jade.
    ```
