- var contents = parseJSON('jade/config.json')

doctype html
html(lang="#{contents.meta.lang}")
  head
    include partials/header.jade
  body
    include partials/content.jade
    include partials/footer.jade
