.reveal
  .slides
    include start.jade
    include toc.jade
    include ../chapters/chapter_01.jade
    include ../chapters/chapter_02.jade
    include ../chapters/chapter_03-05.jade
    include ../chapters/chapter_06-07.jade
    include ../chapters/chapter_08.jade
    include ../chapters/chapter_09-10.jade
    include ../chapters/chapter_11-12.jade
    include ../chapters/chapter_13-15.jade
    include end.jade
